@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Slab&display=swap');
body{
    background-color: #B6C1D8;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 3vh;
}
header{
    background-color: #526387;
    padding: 4vh;
    margin: 0;
    width: 100;
    display: flex;
    justify-content: end;
    font-family: 'Roboto Slab', serif;
    font-size: 2vh;
}

footer{
    background-color: #526387;
    margin: 0;
    width: 100;
    padding: 1vh 4vh;
    color: #13264E;
}
img{
    max-height: 20vh;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: purple;
}
h2{
    color: white;
    padding: 1vh;
}
.scroll{
    color: white;
}
.main{
    padding: 0px 10vh;
    width: 1000px;
}
.siteName{
    color: white;
    position: absolute;
    top: 2vh;
    left: 0;
    padding: 2vh 2vh;
}

.k1{
    display: block;
}

#invisible-button{
    background-color: #505a6e;
    position: absolute;
    left: 1200px;
    top: 200px;
    height: 1px;
    width: 1px;
}